.swiper {
  position: static !important;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute !important;
  width: 44px !important;
  height: 44px !important;
  border-radius: 100%;
  border: 1px solid #d3d3d3;
  color: black !important;

  svg {
    width: 16px !important;
    height: 16px !important;
    display: none;
  }
  &:hover {
    opacity: 0.5;
  }
}

.swiper-button-prev {
  position: relative;
  left: 0 !important;
}

.swiper-button-next {
  position: relative;
  right: 0 !important;
}

.swiper-button-prev::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  left: 54%;
  position: absolute;
  border-bottom: solid 1px black;
  border-left: solid 1px black;
  transform: translateX(-50%) rotate(45deg);
}

.swiper-button-next::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  left: 44%;
  position: absolute;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
  transform: translateX(-50%) rotate(-45deg);
}

@media (min-width: 1200px) {
  .swiper-button-prev {
    left: -40px !important;
  }
  .swiper-button-next {
    right: -40px !important;
  }
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  left: 0;
}

.rank-swiper {
  height: 50px;
  margin-bottom: 40px;
  /* @include min-lg {
    height: 300px;
  } */
  .swiper-slide {
    cursor: pointer;

    /* @for $i from 1 through 3 {
      &[data-index='#{$i}'] .rank-number {
        background-image: url('/deco-crown.svg');
        background-size: contain;
        background-position: center 30%;
        background-repeat: no-repeat;
        color: white;
      }
    }
    @for $i from 1 through 9 {
      &[data-index='#{$i}'] .rank-number::before {
        content: '0';
      }
    } */
    .rank-number {
      padding: 10px;
      padding-top: 16px;
      font-size: 0.875rem;
    }
  }
  .swiper-slide-active {
    font-weight: bold;
  }
}
