body {
  line-height: 1.75;
  font-size: 1rem;
  min-height: 100vh;
  color: #0d0c22;
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  line-height: 1.5 !important;
}

a:hover {
  color: #95896c;
}

h1,
h2,
h3 {
  line-height: 1.5;
  font-family: 'Roboto', 'Noto Serif TC', serif;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input[type='number'] {
  // -moz-appearance: textfield;
  // -webkit-appearance: textfield;
  line-height: 1px !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  display: none; /* Chrome Safari 兼容*/
}
