.btn-arrow {
  display: inline-block;
  width: 40px;
  height: 1px;
  bottom: 2px;
  position: relative;
}

.btn-arrow::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  height: 10px;
  width: 1px;
}

.btn-arrow-right {
  background-color: #fff;
}

.btn-arrow-left {
  background-color: #000;
}

.btn-outline-secondary:hover .btn-arrow-left {
  background-color: #fff;
}

.btn-arrow-left::before {
  left: 3px;
  background-color: inherit;
  rotate: 45deg;
}

.btn-arrow-right::before {
  right: 3px;
  background-color: inherit;
  rotate: -45deg;
}
