@mixin text-overflow($line: 1) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
  width: 100%;
}

.text-overflow-1 {
  @include text-overflow(1);
}

.text-overflow-2 {
  @include text-overflow(2);
}

.text-overflow-3 {
  @include text-overflow(3);
}

.text-overflow-4 {
  @include text-overflow(4);
}

.list-unordered {
  list-style: disc !important;
}

.list-order {
  list-style: decimal !important;
}

.ls-lg {
  letter-spacing: 5px;
}

.font-sans {
  font-family: 'Noto Sans TC', 'Roboto', sans-serif;
}

.font-serif {
  font-family: 'Noto Serif TC', 'Roboto', serif;
}

.min-height-100 {
  min-height: 100vh;
}

.table-overflow {
  overflow: scroll;
  @include min-lg {
    overflow: initial;
  }
  .table {
    height: 100vh;
    width: 100vw;
    @include min-lg {
      height: auto;
      width: auto;
    }
  }
}

.overflow-x-scroll {
  overflow-x: scroll !important;
  &::-webkit-scrollbar {
    display: none;
  }
}

.isLoading {
  position: relative;
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 30%);
    position: absolute;
    opacity: 0.7;
    top: 0;
    animation: loading 1s infinite linear;
  }
  @keyframes loading {
    50% {
      opacity: 0.5;
    }
  }
}

.swal2-title {
  font-family: 'Noto Sans TC', 'Roboto', sans-serif;
}

.ck-editor__editable {
  min-height: 200px;
}
