.swiper {
  position: static !important;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute !important;
  width: 44px !important;
  height: 44px !important;
  border-radius: 100%;
  border: 1px solid #d3d3d3;
  color: black !important;
  svg {
    width: 16px !important;
    height: 16px !important;
  }
  &:hover {
    opacity: 0.5;
  }
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  width: 90%;
  left: 50%;
  /* transform: translateX(-50%); */
}

@media (min-width: 1200px) {
  .swiper-button-prev {
    left: -40px !important;
  }
  .swiper-button-next {
    right: -40px !important;
  }
}
