@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Noto+Serif+TC:wght@400;700&family=Roboto&display=swap');

// Required
@import '../node_modules/bootstrap/scss/functions';

@import '../assets/variable';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import 'bootstrap/scss/utilities';

@import '../assets/helper';
@import 'bootstrap/scss/utilities/api';

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';
@import 'swiper/css/effect-coverflow';
@import 'swiper/css/free-mode';

@import 'swiper/css/thumbs';

@import '../assets/mixin';
@import '../assets/utils.scss';
@import '../assets/base.scss';
// @import '../assets/btn.scss';

@import '../node_modules/sweetalert2/src/sweetalert2.scss';

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 0.5rem;
  border-radius: 50%;
  border: solid 1px #000;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
